{{'component-side-by-side.css' | asset_url | stylesheet_tag}}

<div class="side-by-side">
    <div class="left-column">
      <h2>Title</h2>
      <h3>SubTitle</h3>
      <button>VOIR</button>
    </div>
    <div class="right-column">
        <h2>Title</h2>
        <h3>SubTitle</h3>
        <button>VOIR</button>
    </div>
</div>

{% schema %}
{
  "name": "side by side",
  "tag": "section",
  "settings": [],
  "blocks": [
  {
    "type": "buttons",
    "name": "buttons",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "button_label_1",
        "default": "Button label",
        "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
        "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
      },
      {
        "type": "url",
        "id": "button_link_1",
        "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
      },
      {
        "type": "text",
        "id": "button_label_2",
        "default": "Button label",
        "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
        "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
      },
      {
        "type": "url",
        "id": "button_link_2",
        "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
      }
    ]
  },
  {
    "type": "titles",
    "name": "titles",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "title-left",
        "default": "TITLE",
        "label": "title left"
      },
      {
        "type": "text",
        "id": "title-right",
        "default": "TITLE",
        "label": "title right"
      }
    ]
  },
  {
    "type": "Subtitles",
    "name": "Subtitles",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "Subtitle-left",
        "default": "SUBTITLE",
        "label": "subtitle left"
      },
      {
        "type": "text",
        "id": "Subtitle-right",
        "default": "SUBTITLE",
        "label": "subtitle right"
      }
    ]
  },
  {
    "type": "Images",
    "name": "Images",
    "limit": 1,
    "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image colum left"
    },
    {
      "type": "image_picker",
      "id": "image-2",
      "label": "Image colum right"
    }
    ]
  }
],
"presets": [
  {
    "name":"Columns info",
    "blocks": [
      {
        "type": "titles"
      },
      {
        "type": "Subtitles"
      },
      {
        "type": "buttons"
      },
      {
        "type": "Images"
      }
    ]
  }
]
}

{% endschema %}