.side-by-side {
    display: flex;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.left-column {
    background-color: red;
    width: 50%;
}

.right-column {
    background-color: blue;
    width: 50%;
}

.image-background-left {
    position: relative;
    height: 100%;
}

.title-left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subtitle-left {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-left {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}